@charset "UTF-8"

*{min-width: 300;
    max-width: 1000;
    margin: auto;

}
body { margin-top: auto;
    background-color: rgba(224, 202, 202, 0.315);
} 

header{
    background-color: aquamarine;
    padding-top: 15px;
    border-width: 10px;
    padding-bottom: 10px;
}
main{
    min-width: 360px;
    max-width: 1000px;
    margin:auto;
    background-color:white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: justify;
    
}

